#database files
/database/*.db
/database/backup*.json
simple_sql/

#backups
back*

#windows files
chromedriver.exe
keys/
*Zone.Identifier

#useless folders
/.vscode/
/venv/

#others
*.pyc
*@*
*.dump
test.py
*.png

#env
.env

courses.json
courses_curriculas.json
curriculas.json
dup_list.json
teachings.json
teachings_empty_code.json
teachings_temp.json

