#database files
/database/*.db
/database/backup*.json
simple_sql/

#backups
back*

#windows files
chromedriver.exe
*.txt
*Zone.Identifier

#useless folders
/.vscode/
/venv/

#others
*.pyc
*@*
*.dump
test.py